body {
  font-family: 'Poppins';
}
.name-highlight {
  color: orange;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 10%;
}
.half-width img {
  width: 69%;
}

.my-latest-work img {
  width: 33%;
  float: left;
}
.my-latest-work {
  margin-top: 154px;
  /* padding-top: 9px; */
}
.client {
  text-align: center;
}
.client h1 {
  padding-top: 153px;
}

.footer-area {
  text-align: center;
  padding-top: 55px;
}

.contact {
  background-color: #ec4f90;
  width: 300px;
  /* border: 15px solid green; */
  padding: 50px;
  margin: 20px;
  position: relative;
  top: auto;
  left: 558px;
}

button.hire-me {
  background-color: #008cba;
  width: 129px;
  height: 50px;
  border-radius: 7px;
}
